{{!-- Player roll/pass popup --}}
<div class="lottery-player-content">

  {{#if tieBreakerMode}}
    <div class="tiebreaker-banner">
      <i class="fa-solid fa-handshake-angle"></i>
      {{localize "LOOTROLLER.player.tieBreaker"}}
    </div>
  {{/if}}

  {{#if item.total}}
    <div class="lottery-progress-line">
      {{localize "LOOTROLLER.player.itemProgress"}} {{item.round}}/{{item.total}}
    </div>
  {{/if}}

  {{!-- Full item details for the item up for rolling (mystification handled GM-side) --}}
  {{#if item.itemDetail}}
    <div class="lottery-item-detail">
      {{> "modules/scorpious187s-loot-roller/templates/item-detail.hbs" item.itemDetail}}
    </div>
  {{else}}
    <div class="item-card">
      <img class="item-img" src="{{item.itemImg}}" alt="{{item.itemName}}" />
      <div class="item-details">
        <h2 class="item-name">{{item.itemName}}</h2>
      </div>
    </div>
    {{#if item.itemDescription}}
      <div class="item-description-panel">{{{item.itemDescription}}}</div>
    {{/if}}
  {{/if}}

  {{#if rolled}}
    <div class="roll-result">
      <i class="fa-solid fa-dice-d20"></i>
      {{localize "LOOTROLLER.player.youRolled"}} <strong>{{rollResult}}</strong>
    </div>
  {{else}}
    <div class="action-buttons">
      <button type="button" data-action="roll" class="btn-roll">
        <i class="fa-solid fa-dice-d20"></i>
        {{localize "LOOTROLLER.player.rollButton"}}
      </button>
      <button type="button" data-action="pass" class="btn-pass">
        <i class="fa-solid fa-forward"></i>
        {{localize "LOOTROLLER.player.passButton"}}
      </button>
    </div>

    {{#if hasTimer}}
      <div class="countdown">
        <i class="fa-regular fa-clock"></i>
        {{localize "LOOTROLLER.player.timeLeft"}} <strong>{{secondsLeft}}s</strong>
      </div>
    {{/if}}
  {{/if}}

</div>
